@import "../../../theme";

.todo-item-content {
  background-color: $background-component;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  &.completed {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    color: $pink;
    background-color: $completed-component;
  }

  .due-date {
    font-size: 0.8rem;
    color: #ffffff;

  }

}
