@import "../../../theme";

.wrapper {
  background-color: $background;
  .mat-mdc-card.mdc-card {
    margin-bottom: 1rem;
  }
  .mat-mdc-card.mdc-card:not(:last-child) {
    margin-bottom: 1rem;
  }

  .todo-input {
    display: flex;
    align-items: center;
    .todo-input-field{
      margin-right: 1rem;
      width: 40%;
    }
    .todo-date-field{
      margin-right: 1rem;
      width: 40%;
    }
    button{
      width: 20%;
      margin-bottom: 1.5rem;
    }
  }

  .todo-list {
    max-height: 350px;
    overflow-y: auto;
    margin-top: 1rem;
  }
  .todos-counter{
    color: $pink;
  }
}
