.wrapper {
  width:100%;
  margin: 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.445);
  .header-wrapper {
    font-size: larger;
    font-weight: 600;
    width: fit-content;
    color:white;
    margin: 0.5rem;
  }
}
