<div class="todo-input">
  <input
    [(ngModel)]="newTodoTitle"
    (keyup.enter)="addTodo()"
    placeholder="Add a new todo"
    class="todo-input-field"
  >
  <button (click)="addTodo()" class="add-button">Add</button>
</div>

<ul class="todo-list">
  <li *ngFor="let todo of todos" class="todo-item">
    <input
      type="checkbox"
      [checked]="todo.completed"
      (change)="toggleTodo(todo)"
      class="todo-checkbox"
    >
    <input
      type="text"
      [(ngModel)]="todo.title"
      (blur)="updateTodoTitle(todo, todo.title)"
      (keyup.enter)="updateTodoTitle(todo, todo.title)"
      [ngClass]="{'completed': todo.completed}"
      class="todo-title"
    >
    <button (click)="deleteTodo(todo.id)" class="delete-button">Delete</button>
  </li>
</ul>
